.contact-container {
  min-height: 100vh;
}
.contact-contact {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(55, 139, 111, 1);
}
.contact-rectangle3 {
  top: 174px;
  left: 59px;
  width: 1788px;
  height: 128px;
  position: absolute;
  border-color: transparent;
}
.contact-rectangle1 {
  top: 33px;
  left: 0px;
  width: 1419px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.contact-text {
  top: 47px;
  left: 32px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.contact-text02 {
  top: 47px;
  left: 270px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.contact-text04 {
  top: 47px;
  left: 506px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contact-text06 {
  top: 209px;
  left: 59px;
  color: rgba(255, 255, 255, 1);
  width: 1774px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contact-text13 {
  top: 47px;
  left: 742px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
