.my-work-container {
  min-height: 100vh;
}
.my-work-my-work {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(55, 139, 111, 1);
}
.my-work-rectangle3 {
  top: 174px;
  left: 59px;
  width: 1788px;
  height: 778px;
  position: absolute;
  border-color: transparent;
}
.my-work-rectangle1 {
  top: 33px;
  left: 0px;
  width: 1419px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.my-work-text {
  top: 47px;
  left: 32px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.my-work-text02 {
  top: 47px;
  left: 270px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.my-work-text04 {
  top: 47px;
  left: 506px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.my-work-text06 {
  top: 209px;
  left: 208px;
  color: rgba(255, 255, 255, 1);
  width: 1625px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.my-work-text13 {
  top: 47px;
  left: 742px;
  color: rgba(255, 255, 255, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.my-work-image2 {
  top: 193px;
  left: 85px;
  width: 97px;
  height: 97px;
  position: absolute;
  border-color: transparent;
}
.my-work-image3 {
  top: 319px;
  left: 85px;
  width: 102px;
  height: 71px;
  position: absolute;
  border-color: transparent;
}
